.main {
  @apply pt-24 xl:pl-40 lg:pl-0 pr-0 pl-0 mb-20;
  .container {
    @apply text-white relative bg-blue-600 flex-col md:flex-row flex justify-between  rounded-l-3xl;
    .circles {
      @apply absolute bottom-0 lg:flex pl-32 hidden left-0  opacity-70;
      .circle {
        @apply h-80 w-80 mx-5 bg-blue-700 rounded-full  z-0;
      }
    }

    .content {
      @apply z-20 relative w-full z-10 pt-20 lg:pl-24 md:pl-12 pl-4 ;
      h1 {
        @apply lg:text-4xl xl:text-5xl my-0 py-0 md:text-3xl text-3xl font-semibold ;
        line-height: 130%;
      }

      .subtitle {
        @apply lg:text-3xl md:text-2xl text-xl mt-12 leading-relaxed font-semibold ;
        line-height: 130%;
      }

      .text {
        @apply text-xl mt-7;
      }

      button {
        @apply my-14 px-12 py-6 text-lg  rounded-full lg:w-fit w-full bg-orange-500 text-white;
      }

    }

    .wrapper {
      @apply text-blue-500;
      background: url("../../assets/svg/background_dots.svg") no-repeat 0px 10px ;

      @apply self-end items-start relative z-10 w-full;
      .image {
        @apply relative object-contain pt-24 pl-20 block z-20  h-full;
      }

      .promise{
        @apply relative w-full  lg:absolute text-gray-900 lg:-left-6 z-40 text-gray-500 shadow-2xl border text-sm rounded-3xl mx-4 px-5 py-8 lg:w-96 bg-white ;
        bottom:-60px;
        line-height: 180%;
        .icon{
          @apply absolute p-5 rounded-3xl bg-blue-500 z-50 -top-14 left-14;
        }
        span{
          @apply text-orange-500;
        }
        strong{
          @apply text-gray-500
        }
      }
    }
  }
}

.instructions {
  @apply container pt-20 px-5 m-auto;
  h2 {
    @apply flex text-center flex-col lg:flex-row items-center justify-center lg:text-6xl md:text-5xl text-2xl font-semibold gap-6;
    .question {
      @apply lg:h-6 inline-flex justify-center items-center  ml-20 lg:text-lg w-12 h-12  lg:w-6 grow-0 shrink-0 bg-blue-600 text-white rounded-full;
    }
  }

  .description {
    @apply text-2xl mt-10 mb-16 w-[60%] m-auto text-center;
  }

  .wrapper {
    @apply relative;
    img {
      @apply lg:w-3/5 w-full my-5 m-auto;
      &~p{
        @apply text-center;
      }
    }

    .card {
      @apply py-5 bg-white px-6 flex flex-col gap-4 rounded-xl border border-blue-400;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06), 0px 24px 160px rgba(0, 0, 0, 0.02);

      h4 {
        @apply text-blue-500 uppercase;
      }
    }

    .left {
      @apply left-0 top-40 lg:absolute lg:w-[400px] w-full;
    }

    .right {
      @apply right-0 top-60 lg:absolute lg:w-[450px] w-full;
    }

    ul {
      @apply ml-0;
      > li {
        @apply ml-2 list-['-'] pl-2;
      }
    }

    ol {
      > li {
        @apply ml-4 list-decimal;
      }
    }
  }
}

.last {
  @apply m-5 mt-20 bg-gray-900 rounded-2xl text-white;
  h2 {
    @apply text-3xl text-center font-bold pt-20;
  }

  .tabcontent {
    @apply flex flex-col md:flex-row justify-around gap-6;
  }
}