.main {
  @apply pt-12 lg:pl-24 md:pl-12 pl-4;
  .container {
    @apply text-white relative bg-blue-600 flex-col md:flex-row flex  items-center rounded-l-3xl;
    .circles {
      @apply absolute bottom-0 lg:flex  hidden left-0  opacity-50;
      .circle {
        @apply h-80 w-80 bg-blue-700 rounded-full  z-0;
      }
    }

    .content {
      @apply z-20 relative w-full z-10 py-16 lg:pl-20 md:pl-12 pl-4 ;
      h1 {
        @apply lg:text-6xl md:text-4xl text-3xl font-semibold leading-[1.3em] ;
      }

      .subtitle {
        @apply lg:text-3xl md:text-2xl text-xl mt-10 leading-relaxed font-semibold ;
      }

      .text {
        @apply text-xl mt-7;
      }

      button {
        @apply mt-10 px-10 py-7 text-lg rounded-full lg:w-fit w-full bg-orange-500 text-white;
      }

    }

    .wrapper {
      &:before {
        content: '';
        background: url("../../assets/svg/background_dots.svg") no-repeat;
        @apply absolute top-0 left-0 w-48 h-48 bg-cover bg-center opacity-50 z-0;
      }

      @apply self-end items-start relative z-10 w-full;
      .image {
        @apply relative object-cover  block z-20  h-full;
      }
    }
  }
}

.instructions {
  @apply container px-5 m-auto;
  h2 {
    @apply flex text-center flex-col lg:flex-row items-center justify-center lg:text-6xl md:text-5xl text-3xl font-semibold gap-6;
    .question {
      @apply lg:h-6 inline-flex justify-center items-center  lg:text-lg w-12 h-12  lg:w-6 grow-0 shrink-0 bg-blue-600 text-white rounded-full;
    }
  }

  .description {
    @apply text-2xl mt-10 mb-16 w-[60%] m-auto text-center;
  }

  .wrapper {
    @apply relative;
    img {
      @apply lg:w-3/5 w-full my-5 m-auto;
    }

    .card {
      @apply py-5 bg-white px-6 flex flex-col gap-4 rounded-xl border border-blue-400;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06), 0px 24px 160px rgba(0, 0, 0, 0.02);

      h4 {
        @apply text-blue-500 uppercase;
      }
    }

    .left {
      @apply left-0 top-40 lg:absolute lg:w-[400px] w-full;
    }

    .right {
      @apply right-0 top-60 lg:absolute lg:w-[450px] w-full;
    }

    ul {
      @apply ml-0;
      > li {
        @apply ml-2 list-['-'] pl-2;

      }
    }

    ol {
      > li {
        @apply ml-4 list-decimal;
      }
    }
  }
}

.last {
  @apply m-5 bg-gray-900 rounded-xl text-white;
  h2 {
    @apply text-3xl text-center font-bold pt-20;
  }

  .tabcontent {
    @apply flex flex-col md:flex-row justify-center gap-6;
  }
}